.topmenu{
    background-color: #1a738a;
    padding: 20px 0;
}
.topmenu .menubar{
    padding: 0 50px;
}
.topmenu a{
    color:#fff;
    padding: 0 30px;
    text-decoration: none;
    font-size: 18px;
}

.topmenu a:hover{
    color:aqua;
}
h1{
    text-align: center;
}

form{
    width: 50%;
    margin: auto;
    border: 1px solid #000;
    padding: 14px;
    border-radius: 10px;
    background-color: #76b4d0;
}

.input-err{
    height: 10px;
}
.err-msg{
    width: 50%;
    margin: auto;
}
.user{
    float: right;
    color: #fff;
    
}
